<div class="row">
  <div class="col-xs-12 col-md-8">
    <h1>Public E-Learning Platform</h1>

    <p class="jumbo-text text-justify"><strong>PELP</strong> - to publiczna platforma do e-learningu.
    Nauczanie
    elektroniczne może służyć
    zarówno do publikacji materiałów dla szerokiego grona osób, jak i do przeprowadzania
    rozbudowanych
    sprawdzaniów lub do stworzenia możliwości komunikacji między uczniem a nauczycielem.
    </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <form action="register2.html" method="post" role="form">
      <div class="form-group">
        <input type="text" class="form-control"
        placeholder="Wybierz nazwę użytkownika"/>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Twój email"/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Podaj hasło"/>
        <span class="help-block">Minimum 8 znaków.</span>
      </div>
      <div class="form-group">
        <input type="submit" value="Zarejestruj się w PELP"
        class="btn btn-success btn-lg btn-block"/>
        <span class="help-block">Rejestrując się w serwisie akceptujesz nasz <a
            href="#">regulamin</a> oraz <a href="#">politykę prywatności</a>.</span>
      </div>
    </form>
  </div>
</div>
