<% content_for :title, 'Regulamin' %>

<% content_for :styles do %>
<%= stylesheet_link_tag 'static-pages', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default panel-document">
                <div class="panel-body">
                    <h1>Regulamin</h1>
                    <h2>Lorem ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aspernatur perspiciatis doloremque eos provident, libero velit rem voluptate, explicabo, adipisci eius nisi a, nemo soluta maxime expedita sint ratione iure illo nam! Quae necessitatibus commodi aut, temporibus, delectus, obcaecati quisquam optio cumque sapiente consectetur dolore accusamus dignissimos aliquam praesentium consequuntur veritatis repellendus deserunt rerum porro. Asperiores ad dolor quisquam, vitae iste voluptate quae qui dicta, facere, voluptatibus ipsam corporis suscipit provident adipisci nam, nisi possimus voluptates. Nesciunt dignissimos neque, sint fuga asperiores iusto est earum ad. Consequatur consectetur ea, accusantium nisi delectus est, aliquid magnam aut velit, doloremque dicta quidem.</p>
                    <h2>Illo perferendis, officiis?</h2>
                    <p>Odio eligendi consequatur ratione delectus commodi, ipsum, iure incidunt tempore molestias quasi eaque saepe repellat maiores impedit, quisquam reiciendis cupiditate at unde hic iste inventore eos. Magnam enim, nesciunt vero saepe excepturi deleniti dolor quia eligendi doloribus facilis, similique pariatur suscipit est vel laboriosam, voluptatum quo quaerat adipisci libero. Rerum eligendi maxime sit a cumque repellat, laudantium neque earum maiores, veniam. Excepturi fugiat dolore adipisci, molestias qui dignissimos beatae cum impedit eum nesciunt dolor sapiente officiis veritatis reprehenderit quo at quae. Iure nostrum distinctio, necessitatibus! Veritatis quo eos, porro aut provident dolore est consectetur delectus molestias molestiae deleniti unde, nisi.</p>
                    <h2>Quia, modi possimus?</h2>
                    <p>Sit aliquam non saepe? Quasi numquam, blanditiis similique velit voluptatum aliquam ad tempora praesentium dolore eum amet rem inventore, consectetur laborum nam sit error voluptatem, accusantium officia expedita. Quae, consectetur. Deserunt quos voluptate corporis illum quod accusantium quisquam nostrum labore impedit inventore. Quis neque porro incidunt! Ipsa, vel fugit dignissimos harum impedit beatae praesentium blanditiis fuga eveniet! Voluptatem, maiores. Fugiat beatae eaque earum temporibus facere omnis unde cumque voluptatum eveniet, quidem dolor provident laboriosam doloribus at, vel, porro atque totam expedita delectus! Assumenda, eum debitis veniam rem a praesentium libero repudiandae laborum perferendis facere aliquam obcaecati. Temporibus earum minima animi.</p>
                    <h2>Pariatur, atque, ipsam.</h2>
                    <p>Veritatis ipsam exercitationem odio ab voluptas reiciendis non quis iste dolore nesciunt accusamus, delectus sint. Optio enim quam quidem hic asperiores, culpa fuga distinctio, voluptatibus doloremque officiis. Distinctio adipisci voluptatem voluptate nemo, odit dignissimos sed, totam porro error nisi necessitatibus sapiente sunt! Optio vero quaerat corporis eos, inventore dignissimos in assumenda? Repellat officiis quae omnis tempora quidem necessitatibus deserunt facere velit sint itaque rem saepe aspernatur, soluta, eum vitae ipsa incidunt iure aliquid. Adipisci cumque dicta autem, placeat aliquid neque qui laboriosam nesciunt eos voluptate, in illo numquam explicabo cum similique, quas dignissimos consectetur dolorum voluptas cupiditate velit sunt! A.</p>
                    <h2>Vel, omnis, error!</h2>
                    <p>Officiis quasi doloremque quae adipisci sit modi, praesentium quos illum sequi voluptas placeat dignissimos deleniti libero ea veniam maiores asperiores officia fugit architecto amet tempora, aliquam aperiam nisi culpa. Maiores debitis incidunt odio tempore, autem ducimus illo dolore itaque quod perspiciatis culpa repellendus natus sit iusto consequuntur facere explicabo velit quisquam reprehenderit dolores esse ipsam, porro doloribus praesentium in! Doloremque, provident, aperiam! Temporibus nobis reprehenderit corporis id excepturi quo nam perspiciatis? Eaque esse itaque, earum, ut dolor fuga atque provident minima rerum quaerat repellat sunt ea vel quisquam alias consequatur, minus blanditiis. Nihil nobis officia eum deleniti, consectetur commodi similique.</p>
                    <h2>Nisi aperiam, dolorum.</h2>
                    <p>Maiores eos fugit quae, sint eum sequi aspernatur voluptates esse est ullam tempore, dolores dignissimos quis, beatae? Accusamus, perspiciatis. Necessitatibus tenetur blanditiis placeat fugiat facilis temporibus animi pariatur at saepe incidunt. Mollitia nobis atque ea qui saepe voluptatibus esse recusandae quo cupiditate cumque sequi accusantium tempore asperiores labore dolores totam, dignissimos distinctio, eius. Quam libero perspiciatis mollitia eligendi earum voluptate officia, voluptatibus cum, labore, pariatur enim deserunt ab. Quis vero assumenda, maiores dolor vel, nemo. Accusantium, nesciunt assumenda nam iste, distinctio quidem explicabo perspiciatis eos aliquam. Laborum, consectetur? Ratione culpa unde, minus obcaecati fugit pariatur mollitia quo omnis alias cumque.</p>
                    <h2>Repellendus, aliquid, culpa.</h2>
                    <p>Hic provident delectus ea autem, dolore, vero consectetur iure, aperiam minima similique nam ipsa totam nobis error dolorem, ipsam at architecto. Deleniti suscipit placeat impedit quidem consectetur ex consequuntur repellat, iure blanditiis reiciendis libero non, ab officia maiores ducimus dicta nisi culpa sed repellendus velit eius, ratione maxime molestias. Quasi fuga, doloribus quae voluptatum iste. Ratione eius ab atque, culpa alias hic nobis eos omnis neque numquam a vero libero, nesciunt nulla accusamus iusto veniam odit cupiditate eveniet possimus. Quo numquam voluptatibus aut dignissimos. Repellat harum molestiae, aut ut, ea nostrum. Repellendus quasi est voluptate ipsa harum pariatur qui minima.</p>
                    <h2>Dolore, consectetur, officiis.</h2>
                    <p>Consequuntur vel dolore debitis corrupti itaque quas quod ipsa rerum, delectus consectetur, eveniet, voluptatem adipisci asperiores non rem nisi nobis similique mollitia maiores. Alias maiores minima laborum repellendus voluptate quod, ipsum voluptas, animi qui voluptates, quis, suscipit. Illum commodi voluptatum id cum impedit natus eligendi excepturi, voluptates, pariatur suscipit assumenda laborum, sequi odio qui consectetur fugiat maxime necessitatibus praesentium voluptatem dolore rerum quaerat delectus quod laudantium vero? Aperiam, earum. Beatae consectetur exercitationem incidunt ea excepturi eaque sunt cupiditate, debitis ducimus delectus sapiente esse vero accusamus, blanditiis adipisci similique, laborum dolor error ut sit recusandae in quis impedit laboriosam nemo! Ipsam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>
