<div class="panel panel-default">
    <div class="panel-heading">Nawigacja</div>
    <ul class="nav nav-pills nav-stacked">
        <%= active_link_to 'Strona główna', root_path, wrap_tag: :li, active: :exclusive %>
        <%= active_link_to 'Publiczne kursy', courses_path, wrap_tag: :li %>
        <li><a href="#">Aktywność</a></li>
        <%= active_link_to 'Mój profil', user_path(current_user), wrap_tag: :li %>
        <li><a href="#">Ustawienia</a></li>
    </ul>
</div>
