<% content_for :title, @user.name %>

<%= content_for :styles do %>
<%= stylesheet_link_tag 'profile', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <div class="row">
    </div>
</div>

<%= render 'layouts/footer' %>
