<p>
  Witaj <%= @invitation.email.to_s %>
</p>
<p>
  Uzytkownik <%= @invitation.user.email %> zaprosił Cię do kursu <%= @invitation.course.name %>
</p>
<p>
  Aby przyjąć zaproszenie przejdź na stronę: bla
</p>
<p>
  Zaproszenie zostanie unieważnione w ciągu 7 dni
</p>

