<p>
  Witaj <%= @email.to_s %>
</p>
<p>
  Uzytkownik <%= @user.email %> zaprosił Cię do kursu <%= @course.name %>
</p>
<p>
  Aby przyjąć zaproszenie przejdź na stronę: bla
</p>
<p>
  Zaproszenie zostanie unieważnione w ciągu 7 dni
</p>

