<% classes ||= '' %>
<% path ||= 'course_path' %>
<% bgcolor = string_to_pastel "#{course.name}#{course.id}", :lighter %>

<%= link_to public_send(path, course), class: "thumbnail course-card #{classes}", style: "background-color:#{bgcolor}" do %>
    <div class="caption">
        <h3><%= course.name %></h3>
        <% if course.description %>
            <p><%= course.description %></p>
        <% end %>
    </div>
<% end %>
