@import 'lesshat';
@import 'variables';

//
// Common styles
//

// Common classes

.row-separator {
  height: @grid-gutter-width / 2;
}

.panel-heading .btn {
  position: relative;

  &.btn-xs {
    top: -2px;
  }
}

.panel-footer-pagination {
  padding: 2px 6px;
  text-align: center;

  & .pagination {
    margin: 4px auto 0 auto;
  }
}

.panel {
  .nav-pills.nav-stacked {
    & > li > a {
      .border-radius(0);
    }
  }
}

.panel-document {
  h1 {
    margin-top: 0;
  }

  .panel-body {
    padding: @padding-large-vertical * 3;
  }
}

// Import styles for common components/widgets

@import 'animations';
@import 'navbar';
@import 'footer';
@import 'course-link';
