@import (reference) 'common';

//
// Course link styles
//

.course-link {
  .media-heading {
    margin-top: 1px;
  }

  .course-link-circle {
    @circle-size: 24px;

    width: @circle-size;
    height: @circle-size;
    border: @circle-size / 4 solid black;
    .border-radius(@circle-size / 2);
  }
}

//
// Course card styles
//

.course-card {
  .background-image(linear-gradient(to bottom, @list-group-bg 85%, fade(@list-group-bg, 0%) 100%));
  .box-shadow(0 0 20px 5px @list-group-bg inset);

  width: 100%;
  height: @screen-xs / 4 + @grid-gutter-width * 2;
  display: table;

  .caption {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &:hover, &:active, &:focus {
    text-decoration: none;

    h3 {
      color: @link-hover-color;
    }
  }

  h3 {
    margin-top: 8px;
    color: @link-color;
  }
}
