@import (reference) 'common';

//
// Navbar additional styles
//

body.with-navbar-fixed {
  padding-top: @navbar-height + @grid-gutter-width / 2;
}

.navbar {
  font-size: ceil((@font-size-base * 1.05));
  text-transform: uppercase;

  .transition(all 0.3s);

  .dropdown-menu {
    text-transform: none;
  }

  .navbar-brand.icon-pelp-logo {
    font-size: 32pt;
    position: relative;
    top: -9pt;
    z-index: 999;
    outline: none;

    .transition(all 0.3s);
  }

  .navbar-nav > li > a {
    white-space: nowrap;
    .transition(all 0.3s);
  }

  .navbar-header {
    .transition(all 0.3s);
  }

  //  .navbar-avatar {
  //    @avatar-size: 28px;
  //    @padding: ((@navbar-height - @avatar-size) / 2);
  //
  //    position: relative;
  //    width: @avatar-size;
  //    height: @avatar-size;
  //    margin-left: @padding-small-horizontal / 2;
  //    margin-top: -8px;
  //    margin-bottom: -6px;
  //  }

  @media (min-width: @screen-sm-min) {
    &.navbar-fixed-top.tiny, &.navbar-fixed-bottom.tiny {
      min-height: @navbar-tiny-height;
      .box-shadow(0 0 8px @gray-lighter);

      .navbar-header {
        height: @navbar-tiny-height;
      }

      .navbar-brand.icon-pelp-logo {
        font-size: 18pt;
      }

      .navbar-nav > li > a {
        font-size: @font-size-base;
        @padding: ((@navbar-tiny-height - @line-height-computed) / 2);
        padding-top: @padding;
        padding-bottom: @padding;
      }
    }
  }
}
