@import (reference) 'common';

//
// Navbar additional styles
//

body.with-navbar-fixed {
  padding-top: @navbar-height + @grid-gutter-width / 2;
}

.navbar-brand.icon-pelp-logo {
  font-size: 24pt;
  position: relative;
  top: -8px;
  z-index: 999;
  outline: none;
}

.navbar-avatar {
  @avatar-size: 48px;

  max-width: @avatar-size;
  max-height: @avatar-size;
  margin-bottom: 8px;
}

.dropdown-colors li.colored {
  @border-size: 6px;

  border-left: @border-size solid black;

  & a {
    padding-left: 20px - @border-size;
  }
}

@media (min-width: @screen-sm-min) {
  .navbar {
    .input-group.input-group-sm {
      position: relative;
      top: 2px;
    }
  }
}
