@import 'common';

//
// Course link styles
//

.course-link {
    .media-heading {
        margin-top: 1px;
    }

    .course-link-circle {
        width: 24px;
        height: 24px;
        border: 6px solid black;
        .border-radius(24px / 2);
    }
}

.course-card {
    background: white;
    height: 180px;
    overflow: auto;

    &:hover, &:active, &:focus {
        text-decoration: none;

        h3 {
            text-decoration: underline;
            color: @link-hover-color;
        }
    }

    h3 {
        margin-top: 8px;
        color: @link-color;
    }

    .course-banner {
        height: 8px;
    }
}
