@import url('bootstrap.css');
@font-face {
  font-family: 'pelp-icons';
  src: url('/assets/pelp-icons.eot?a1qo6d');
  src: url('/assets/pelp-icons.eot?#iefixa1qo6d') format('embedded-opentype'), url('/assets/pelp-icons.woff?a1qo6d') format('woff'), url('/assets/pelp-icons.ttf?a1qo6d') format('truetype'), url('/assets/pelp-icons.svg?a1qo6d#pelp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'pelp-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pelp-logo:before {
  content: "\e600";
}
.row-separator {
  height: 12px;
}
.pelp-navbar .navbar-brand.icon-pelp-logo {
  font-size: 32pt;
  text-shadow: 0px 1px 6px black;
  position: relative;
  top: -10px;
}
.pelp-navbar .navbar-brand.icon-pelp-logo:hover,
.pelp-navbar .navbar-brand.icon-pelp-logo:active,
.pelp-navbar .navbar-brand.icon-pelp-logo:focus {
  text-shadow: 0px 1px 12px black;
}
footer {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #f2f2f2 100%);
  border-top: 1px solid #ccc;
  color: #888;
}
footer.no-bg {
  background: none;
  border: none;
}
footer a {
  color: #888;
}
footer a:hover,
footer a:active {
  text-decoration: none;
}
footer .icon-pelp-logo {
  font-size: 14pt;
}
footer .footer-links {
  list-style-type: none;
  padding: 0;
}
footer .footer-links li {
  display: inline-block;
  margin-left: 8px;
}
footer .footer-links li:first-child {
  margin: 0;
}
