@import (reference) 'common/common';

//
// Home page styles
//

html, body {
  height: 100%;
}

.jumbotron {
  background: transparent;
  text-align: justify;
  margin: 0;
}

.logo-jumbotron {
  background: url(homebg.png) center center;
  .background-size(cover);
  color: #fff;
  text-align: center;

  h1 {
    font-size: 96pt;
    text-shadow: 0 0 8px (fade(black, 80%));
  }

  @media (max-width: @screen-xs-max) {
    padding: @jumbotron-padding / 2;

    h1 {
      font-size: 48pt;
    }
  }
}

.home-buttons {
  background: lighten(@gray-lighter, 3.5%);
  border-top: 1px solid @gray-lighter;
  border-bottom: 1px solid @gray-lighter;
  padding-top: @jumbotron-padding / 2;
  padding-bottom: @jumbotron-padding / 2;
  margin-bottom: @jumbotron-padding;

  .container-fluid {
    max-width: @screen-xs;
  }

  .btn {
    .transition(all 0.3s);
  }
}