@import (reference) 'common/common';

//
// Home page styles
//

html, body {
  height: 100%;
}

#home-navbar {
  @media (min-width: @screen-sm-min) {
    .navbar-brand.icon-pelp-logo {
      font-size: 52pt;
      position: relative;
      top: -26px;
    }
  }
}

.jumbotron {
  .background-image(linear-gradient(to bottom, @link-hover-color 0%, @link-color 100%));

  border-top: 1px solid @gray;
  border-bottom: 1px solid @gray;
}

#home-welcome-box {
  color: white;
  text-shadow: 0 1px 3px black;
}

#new-user-form {
  background: fade(@body-bg, 20%);
  padding: @border-radius-large * 2;
  .border-radius(@border-radius-large);

  .form-group:last-child {
    &, & .help-block {
      margin-bottom: 0;
    }
  }

  .help-block {
    color: white;
    text-align: justify;

    a {
      color: white;
      font-style: italic;
    }
  }
}
