@import (reference) 'common';

//
// Navbar additional styles
//

.navbar-brand.icon-pelp-logo {
    font-size: 32pt;
    text-shadow: 0px 1px 6px black;
    position: relative;
    top: -10px;

    &:hover, &:active, &:focus {
        text-shadow: 0px 1px 12px black;
    }
}

.navbar-nav > li > a.navbar-account {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-username {
}

.navbar-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    .border-radius(16px);
    .box-shadow(0 0 4px #111);
}

.dropdown-colors li.colored {
    border-left: 6px solid black;

    & a {
        padding-left: 20px - 6px;
    }
}