<div style="border: 1px dotted black">
  <p><%= answer.name %></p>
  <% unless answer.question.open? %>
    <p><%= answer.correct ? "P" : "F" %></p>
  <% end %>
  <%= link_to "Usuń odpowiedź", question_answer_path(answer.question_id, answer), method: :delete %>
</div>
