<%= simple_form_for [question, answer], html: { remote: true, class: 'edit_answer', data: { type: 'json' }} do |f| %>
  <%= f.input :name, label: "Wartość" %>
  <%= f.button :submit, "Aktualizuj" %>
<% end %>
<p>Pytania otwarte są sprawdzana poprzez samą obecność odpowiedzi</p>
