<div>
  <%= simple_form_for [question, Answer.new] do |f| %>
    <%= f.input :name, label: "Wartość" %>
    <%= f.button :submit, "Stwórz" %>
  <% end %>
  <p>Pytania otwarte są sprawdzana poprzez samą obecność odpowiedzi</p>
</div>
