<nav class="pelp-navbar navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "", root_path, class: "navbar-brand icon icon-pelp-logo" %>
    </div>
  </div>
</nav>