<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zażądał adresu to zmiany twojego hasła. Możesz to zrobić poprzez kliknięcie w link poniżej.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token, host: 'pelp.net') %></p>

<p>Jeśli nie ty zażądałeś zmiany hasła zignoruj tę wiadomość.</p>
<p>Twoje hasła nie zostanie zmienione dopóki, nie klikniesz w powyższy link i nie stworzysz nowego.</p>
